.header__primario
{
    background-color: var(--color_principal);
    width: 100%;
    height: 100%;
}

.lista__principal
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 2%;
    margin: 0 5%;
}

@media screen and (max-width: 1200px) 
{
    .header__primario
    {
        font-size: 50%;
    }
}